.wrapper {
    position: relative;
    min-height: 80px;
}

.about-content {
    padding: 0px 16px;
}

.main-container {
    padding: 16px;
}

.dark-green-text {
    padding: 16px;
}


@media only screen and (max-width: 708px) {
    .about-text {
        padding: 0px 16px;
        text-align: center;
    }

    .about-header {
        text-align: center;
        padding: 0px 16px;
    }

    .dark-green-text {
        text-align: center;
    }
}