.wrapper {
    position: relative;
    min-height: 80px;
}

.main-container .dark-green-text {
    padding: 16px;
}


.shops-top-text {
    padding: 34px;
    margin-top: 110px;
    margin-bottom: 41px;
}

.shops-list {
    margin-top: 70px;

    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr;

}

.btn {
    cursor: pointer;
}
.active {
    font-weight: 700;
}

@media only screen and (max-width: 708px) {
    .shops-list {
        display: flex;
        flex-direction: column;
    }

    .name-of-cities {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }

    .btn {
        font-size: 3vw;
        padding: 10px;
        margin: 0px 0px 20px 0px;
    }

    .shops-top-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .main-container .dark-green-text {
        text-align: center;
    }
}