.advantages-cards {
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 100px;
    padding: 10px;
}

.advantage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    background-color: #187B7C;
    color: #F5F5F5;
    border-radius: 15px;
    padding: 50px 40px;
    height: 100%; 
}

/* Контейнер для контента */
.content {
    display: flex;
    flex-direction: column;

    justify-content: space-between; 
    flex-grow: 1; 
    width: 100%;
}

/* Иконка */
.advantage-card img {
    width: 80px; 
    height: auto;
}

/* Текст */
.advantage-text {
    font-size: 32px;
}

/* === Адаптация под 1440px === */
/* @media (max-width: 1440px) {
    .advantage-card {
        width: 386px;
        height: 293px;
        padding: 50px 40px;
    }

    .advantage-text {
        font-size: 24px;
    }

    .advantage-card img {
        width: 60px; 
    }
} */

/* === Адаптация под 1024px === */
/* @media (max-width: 1024px) {
    .advantage-card {
        width: 301px;
        height: 232px;
        padding: 40px 30px;
    }

    .advantage-text {
        font-size: 18px;
    }

    .advantage-card img {
        width: 50px;
    }
} */

/* === Адаптация под 720px === */
/* @media (max-width: 720px) {
    .advantage-card {
        width: 202px;
        height: 143px;
        padding: 30px 20px;
    }

    .advantage-text {
        font-size: 11px;
    }

    .advantage-card img {
        width: 40px;
    }
} */

/* === Адаптация под 430px === */
/* @media (max-width: 430px) {
    .advantages-cards {
        grid-template-columns: 1fr; 
    }

    .advantage-card {
        width: 328px;
        height: 210px;
        padding: 30px 20px;
    }

    .advantage-text {
        font-size: 18px;
    }

    .advantage-card img {
        width: 50px;
    }
} */


@media only screen and (max-width: 1241px) {
    .advantages-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 837px) {
    .advantages-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 431px) {

    .advantages-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .advantage-card img {
        width: 30%; 
        height: auto;
    }
    
    /* Текст */
    .advantage-text {
        font-size: 5vw;
    }
}