.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    .modal-window {
        position: relative;
        padding: 40px;
        background-color: #F0FCFC;
        color: black;
        border-radius: 15px;

        max-width: 720px;
        width: 90%;
        max-height: 90vh;
        height: auto;
        overflow-y: auto;

        @media (max-width: 768px) {
            max-width: 90%;
            padding: 20px;
        }

        @media (max-width: 480px) {
            max-width: 90%;
            padding: 15px;
        }
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 700;

        .back-btn:hover{

             
                border-bottom: #02444b solid 1px;
          
        }
    }
}